---
import IconFramer from '../assets/icons/IconFramer.astro'
import IconReact from '../assets/icons/IconReact.astro'
import IconNextJS from '../assets/icons/IconNextJS.astro'
import IconTailwind from '../assets/icons/IconTailwind.astro'
import IconFirebase from '../assets/icons/IconFirebase.astro'
import IconNextUI from '../assets/icons/IconNextUI.astro'
import IconLink from '../assets/icons/IconLink.astro'
import IconExternalLink from '../assets/icons/IconExternalLink.astro'

import RapidCartImg from '../assets/img/rapid-cart.png'
import SmileNotesImg from '../assets/img/smile-notes.png'
import AnimeHubImg from '../assets/img/anime-app.png'

const TAGS = {
  REACT: {
    name: 'React',
    color: 'bg-blue-500/30',
    Icon: IconReact
  },
  NEXTJS: {
    name: 'NextJS',
    color: 'bg-white/30',
    Icon: IconNextJS
  },
  FRAMER: {
    name: 'Framer Motion',
    color: 'bg-pink-500/30',
    Icon: IconFramer
  },
  TAILWIND: {
    name: 'Tailwind',
    color: 'bg-blue-600/30',
    Icon: IconTailwind
  },
  NEXTUI: {
    name: 'NextUI',
    color: 'bg-white/50 text-black',
    Icon: IconNextUI
  },
  FIREBASE: {
    name: 'Firebase',
    color: 'bg-yellow-500/30',
    Icon: IconFirebase
  }
}

const projects = [
  {
    title: 'Smile Notes',
    description: 'Ahora crear notas es más fácil con esta aplicación.',
    thumbnail: SmileNotesImg,
    link: 'https://smile-notes-app.vercel.app/',
    repo: 'https://github.com/MiguelAJM/smile-notes-app',
    tags: [TAGS.REACT, TAGS.NEXTUI, TAGS.FIREBASE]
  },
  {
    title: 'Anime Hub',
    description: 'Busca y guarda tus animes favoritos de forma fácil y rápida.',
    thumbnail: AnimeHubImg,
    link: 'https://animes-hub.vercel.app/',
    repo: 'https://github.com/MiguelAJM/animes-hub',
    tags: [TAGS.NEXTJS, TAGS.TAILWIND]
  },

  {
    title: 'Rapid Cart',
    description: 'Compra artículos de manera rápida y sencilla.',
    thumbnail: RapidCartImg,
    link: 'https://rapid-cart.vercel.app/',
    repo: 'https://github.com/MiguelAJM/rapid-cart',
    tags: [TAGS.REACT, TAGS.FRAMER, TAGS.TAILWIND]
  }
]
---

{
  projects.map(({ title, description, thumbnail, link, repo, tags }) => (
    <li class='col-span-4 grid grid-cols-6 gap-5 place-items-center group/item'>
      <article class='col-span-6 md:col-span-3 relative rounded-xl overflow-hidden bg-slate-800'>
        <a href={link} target='_blank'>
          <img
            class='transition-transform duration-300 w-full h-full object-cover ease-in-out group-hover/item:scale-110'
            src={thumbnail.src}
            alt={`Proyecto: ${title}`}
          />
        </a>
      </article>

      <div class='col-span-6 md:col-span-3'>
        <article class=''>
          <h2 class='text-sky-300 text-2xl md:text-3xl font-extrabold mb-4'>
            {title}
          </h2>
          <p class='text-xl md:text-lg text-gray-300/90 text-balance'>
            {description}
          </p>
        </article>

        <ul class='flex gap-2 flex-wrap items-center my-4'>
          {tags.map(({ color, Icon }) => (
            <li class={`p-1.5 ${color} rounded-full flex items-center`}>
              <Icon class='size-5' />
            </li>
          ))}
        </ul>

        <div class='flex w-full gap-4'>
          <a
            href={link}
            target='_blank'
            class='flex flex-row-reverse items-center gap-2 px-4 py-2 bg-zinc-300 text-black text-lg md:text-xl font-bold rounded-lg group/hover'
          >
            <span>
              <IconExternalLink class='size-5 duration-300 ease-in-out transition group-hover/hover:scale-110' />
            </span>
            Live
          </a>
          <a
            href={repo}
            target='_blank'
            class='flex flex-row-reverse items-center gap-2 px-4 py-2 bg-zinc-300 text-black text-lg md:text-xl font-bold rounded-lg group/hover'
          >
            <span>
              <IconLink class='size-5 duration-300 ease-in-out transition group-hover/hover:scale-110' />
            </span>
            Code
          </a>
        </div>
      </div>
    </li>
  ))
}
