---
import IconFramer from '../assets/icons/IconFramer.astro'
import IconReact from '../assets/icons/IconReact.astro'
import IconNextJS from '../assets/icons/IconNextJS.astro'
import IconTailwind from '../assets/icons/IconTailwind.astro'
import IconFirebase from '../assets/icons/IconFirebase.astro'
import IconNextUI from '../assets/icons/IconNextUI.astro'
import IconLink from '../assets/icons/IconLink.astro'

import RapidCartImg from '../assets/img/rapid-cart.png'
import SmileNotesImg from '../assets/img/smile-notes.png'
import AnimeHubImg from '../assets/img/anime-app.png'

const TAGS = {
  REACT: {
    name: 'React',
    color: 'bg-blue-500/30',
    Icon: IconReact
  },
  NEXTJS: {
    name: 'NextJS',
    color: 'bg-white/30',
    Icon: IconNextJS
  },
  FRAMER: {
    name: 'Framer Motion',
    color: 'bg-pink-500/30',
    Icon: IconFramer
  },
  TAILWIND: {
    name: 'Tailwind',
    color: 'bg-blue-600/30',
    Icon: IconTailwind
  },
  NEXTUI: {
    name: 'NextUI',
    color: 'bg-white/50 text-black',
    Icon: IconNextUI
  },
  FIREBASE: {
    name: 'Firebase',
    color: 'bg-yellow-500/30',
    Icon: IconFirebase
  }
}

const projects = [
  {
    title: 'Smile Notes',
    description:
      'Ahora crear notas es más fácil con esta aplicación hecha con React, NextUI y Firebase.',
    thumbnail: SmileNotesImg,
    link: 'https://smile-notes-app.vercel.app/',
    repo: 'https://github.com/MiguelAJM/smile-notes-app',
    tags: [TAGS.REACT, TAGS.NEXTUI, TAGS.FIREBASE]
  },
  {
    title: 'Anime Hub',
    description:
      'Busca animes de manera sencilla y sencilla. Puedes guardar animes tus animes favoritos. Hecha con NextJS y Tailwind.',
    thumbnail: AnimeHubImg,
    link: 'https://animes-hub.vercel.app/',
    repo: 'https://github.com/MiguelAJM/animes-hub',
    tags: [TAGS.NEXTJS, TAGS.TAILWIND]
  },

  {
    title: 'Rapid Cart',
    description:
      'Creado con React, Tailwind, Framer Motion. Compra artículos de manera rápida y sencilla.',
    thumbnail: RapidCartImg,
    link: 'https://rapid-cart.vercel.app/',
    repo: 'https://github.com/MiguelAJM/rapid-cart',
    tags: [TAGS.REACT, TAGS.FRAMER, TAGS.TAILWIND]
  }
]
---

{
  projects.map(({ title, description, thumbnail, link, repo, tags }) => (
    <li class='col-span-4'>

      <IconTailwind class='size-5'/>

      <article>
        <div class='flex items-center justify-between mb-5'>
          <h2 class='text-pink-300 text-4xl md:text-5xl font-extrabold'>
            {title}
          </h2>

          <a
            href={repo}
            target='_blank'
            class='flex flex-row-reverse items-center gap-2 px-4 py-2 bg-zinc-200 text-black text-lg md:text-xl font-bold rounded-xl group/hover'
          >
            <span>
              <IconLink class='size-5 md:size-8 duration-300 ease-in-out transition group-hover/hover:scale-110' />
            </span>
            Code
          </a>
        </div>
        <p class='text-xl md:text-2xl text-gray-300/90'>{description}</p>
      </article>

      <ul class='flex gap-4 flex-wrap items-center my-5'>
        {tags.map((tag) => (
          <li
            class={`px-4 py-1 ${tag.color} rounded-full flex items-center gap-2`}
          >
            <tag.Icon class='size-5' /> {tag.name}
          </li>
        ))}
      </ul>

      <article class='relative rounded-xl overflow-hidden bg-slate-800 w-full'>
        <a href={link} target='_blank'>
          <span class='hidden'>{title}</span>
          <img
            class='transition-transform duration-300 ease-in-out hover:scale-150'
            src={thumbnail.src}
            alt={`Proyecto: ${title}`}
          />
        </a>
      </article>
    </li>
  ))
}
